$myFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body{
    position: fixed;
}

#sidebar{
    width: 350px;
    height: 700px;
    border: 4px;
    border-style: solid;
    border-color: #1CA7EC;
    border-radius: 20px;

    @media only screen and (max-width: 450px){
        display: none;
    } 

    img{
        width: 170px;
        height: auto;
        position: absolute;
        left: 89px;
        top: 80px;
        border-style: solid;
        border-color: #1CA7EC;
        border-radius: 50%;
    }

    h1{
        font-family: $myFont;
        font-size: 22px;
        letter-spacing: 1px;
        position: relative;
        top: 35%;
        text-align: center;
    }

    p{
        font-family: $myFont;
        position: relative;
        top: 33%;
        margin-bottom: -18px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
        // background-color: wheat;
    }
}

#mobileOnly{
    display: none;

    @media only screen and (max-width: 450px){
        display: block;
        width: 398px;
        height: 300px;
        position: relative;
        top: 30px;
        
        #propic{
            width: 120px;
            height: auto;
            position: absolute;
            left: 135px;
            top: 40px;
            border-style: solid;
            border-color: #1CA7EC;
            border-radius: 50%;
        }

        h1{
            font-family: $myFont;
            font-size: 18px;
            letter-spacing: 1px;
            position: relative;
            top: 190px;
            text-align: center;
        }
    
        p{
            font-family: $myFont;
            font-size: 15px;
            position: relative;
            top: 185px;
            margin-bottom: -18px;
            text-align: center;
            letter-spacing: 2px;
            font-weight: 400;
            // background-color: wheat;
        }

        #menu{
            width: 40px;
            height: auto;
            position: absolute;
            left: 5px;
            top: -40px;
        }
        
    } 
}

#header{
    width: 1130px;
    height: 70px;
    position: absolute;
    left: 370px;
    top: 0px;
    border: 4px;
    border-style: solid;
    border-color: #1CA7EC;
    border-radius: 20px;

    @media only screen and (max-width: 450px){
        left: 0px;
        width: 390px;
        border: none;
    } 

    #headerLogo{
        position: relative;
        left: 30px;
        top: 7px;
        width: 45px;

        @media only screen and (max-width: 450px){
            display: none;
        } 
    }

    #logoText{
        font-family: $myFont;
        @extend #headerLogo;
        width: fit-content;
        font-size: 10px;
        margin-top: 2px;
        left: 24px;

        @media only screen and (max-width: 450px){
            display: none;
        } 
    }

    #pageHeader{
        font-family: $myFont;
        position: absolute;
        left: 450px;
        top: -10px;

        @media only screen and (max-width: 450px){
            left: 40%;
            top: 5px;
            font-size: 15px;
        } 
    }

    #settingsIcon{
        position: absolute;
        left: 1070px;
        top: 10.5px;
        width: 50px;

        @media only screen and (max-width: 450px){
            left: 90%;
            width: 30px;
        } 
    }
}

#buttonList{
    position: absolute;
    top: 120px;
    left: 440px;
    width: 1000px;
    height: 600px;
    align-self: center;

    @media only screen and (max-width: 450px){
        left: 0px;
        // background-color: wheat;
        width: 398px;
        // display: none;
    } 

    #findPatients{
        width: 1000px;
        height: 70px;
        background-color: #1CA7EC;
        border-radius: 15px;
        margin-bottom: 20px;
        cursor: pointer;

        @media only screen and (max-width: 450px){
            width: 150px;
            height: 90px;
            background-color: transparent;
            border: 3px;
            border-style: solid;
            border-color: #1CA7EC;
            display: -ms-inline-grid;
            // background-color: rgb(67, 65, 170);
        } 

        img{
            width: 45px;
            height: 45px;
            position: relative;
            left: 20px;
            top: 18%;
            // background-color: wheat;
            @media only screen and (max-width: 450px){
                left: 50px;
                top: 5px;
                // background-color: red;
            } 
        }

        h5{
            display: inline;
            position: relative;
            left: 30px;
            top: -3px;
            font-family: $myFont;
            font-size: 20px;
            // background-color: wheat;
            
            @media only screen and (max-width: 450px){
               display: block;
               top: -25px;
               left: 18px;
               width: fit-content;
            } 
        }
    }

    #messages{
        @extend #findPatients;
    }

    #directories{
        @extend #findPatients;
    }

    #documents{
        @extend #findPatients;
        @media only screen and (max-width: 450px){
         } 
    }

    #calender{
        @extend #findPatients;
    }

    #appoinments{
        @extend #findPatients;
    }
}