$myFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body{
    position: fixed;
}

#sidebar{
    width: 350px;
    height: 700px;
    border: 4px;
    border-style: solid;
    border-color: #1CA7EC;
    border-radius: 20px;

    img{
        width: 170px;
        height: auto;
        position: absolute;
        left: 89px;
        top: 60px;
        border-style: solid;
        border-color: #1CA7EC;
        border-radius: 50%;
    }

    h1{
        font-family: $myFont;
        font-size: 22px;
        letter-spacing: 1px;
        position: relative;
        top: 35%;
        text-align: center;
    }

    p{
        font-family: $myFont;
        position: relative;
        top: 33%;
        margin-bottom: -18px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
    }

    @media only screen and (max-width: 450px){
        display: none;
    }
}

#header{
    width: 1130px;
    height: 70px;
    position: absolute;
    left: 370px;
    top: 0px;
    border: 4px;
    border-style: solid;
    border-color: #1CA7EC;
    border-radius: 20px;

    @media only screen and (max-width: 450px){
        left: 0px;
        width: 375px;
        height: 40px;
        border: 2px;
        border-style: solid;
        border-color: #1CA7EC;
        border-radius: 20px;
    } 

    #backIcon{
        position: relative;
        top: 4px;

        @media only screen and (max-width: 450px){
            left: 0px;
            width: 35px;
        } 
    }

    #refreshIcon{
        position: relative;
        left: 990px;
        top: -5px;
        width: 50px;
    }

    #pageHeader{
        font-family: $myFont;
        position: absolute;
        left: 450px;
        top: -10px;

        @media only screen and (max-width: 450px){
            left: 125px;
            font-size: 18px;
            top: -4px;
        } 
    }
}