body {
  position: fixed;
}

#sidebar {
  width: 350px;
  height: 700px;
  border: 4px;
  border-style: solid;
  border-color: #1CA7EC;
  border-radius: 20px;
}
#sidebar img {
  width: 170px;
  height: auto;
  position: absolute;
  left: 89px;
  top: 60px;
  border-style: solid;
  border-color: #1CA7EC;
  border-radius: 50%;
}
#sidebar h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  position: relative;
  top: 35%;
  text-align: center;
}
#sidebar p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  top: 33%;
  margin-bottom: -18px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
}
@media only screen and (max-width: 450px) {
  #sidebar {
    display: none;
  }
}

#header {
  width: 1130px;
  height: 70px;
  position: absolute;
  left: 370px;
  top: 0px;
  border: 4px;
  border-style: solid;
  border-color: #1CA7EC;
  border-radius: 20px;
}
@media only screen and (max-width: 450px) {
  #header {
    left: 0px;
    width: 375px;
    height: 40px;
    border: 2px;
    border-style: solid;
    border-color: #1CA7EC;
    border-radius: 20px;
  }
}
#header #backIcon {
  position: relative;
  top: 4px;
}
@media only screen and (max-width: 450px) {
  #header #backIcon {
    left: 0px;
    width: 35px;
  }
}
#header #refreshIcon {
  position: relative;
  left: 990px;
  top: -5px;
  width: 50px;
}
@media only screen and (max-width: 450px) {
  #header #refreshIcon {
    left: 295px;
    width: 35px;
    top: 3px;
  }
}
#header #pageHeader {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  left: 450px;
  top: -10px;
}
@media only screen and (max-width: 450px) {
  #header #pageHeader {
    left: 125px;
    font-size: 18px;
    top: -4px;
  }
}

#buttonArray {
  position: absolute;
  top: 90px;
  left: 440px;
  width: 1000px;
  height: 60px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 450px) {
  #buttonArray {
    left: 10px;
    top: 630px;
    width: 360px;
  }
}
#buttonArray img {
  width: 40px;
  height: 40px;
  border: black;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
#buttonArray span {
  position: relative;
  left: -25px;
  top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

#patientList {
  position: absolute;
  top: 170px;
  left: 440px;
  width: 1000px;
  height: 600px;
  align-self: center;
}
#patientList div {
  width: 1000px;
  height: 65px;
  background-color: rgba(28, 167, 236, 0.4);
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
#patientList div #id, #patientList div #time, #patientList div #ward {
  width: 150px;
  height: 30px;
  background-color: transparent;
  position: relative;
  top: -37px;
  left: 250px;
  border: black;
  border-style: solid;
  border-radius: 11px;
}
#patientList div #id p, #patientList div #time p, #patientList div #ward p {
  background-color: black;
  color: white;
  padding: 3px;
  padding-inline: 10px;
  border-radius: 10px;
  position: relative;
  top: 1px;
  left: -1px;
  font-size: 20px;
}
#patientList div #id span, #patientList div #time span, #patientList div #ward span {
  position: relative;
  top: -1px;
  left: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#patientList div #ward {
  width: 90px;
  left: 450px;
  top: -92px;
}
#patientList div #time {
  width: 120px;
  left: 595px;
  top: -147px;
}
#patientList div #time p {
  padding-inline: 13px;
}
#patientList div #status {
  position: relative;
  top: -223px;
  left: 790px;
  background-color: #1CA7EC;
  border: none;
  border-radius: 20px;
  padding: 7px;
  padding-top: 8px;
  padding-inline: 10px;
}
#patientList div #next {
  transform: rotate(180deg);
  position: relative;
  top: -205px;
  left: 850px;
}
#patientList div img {
  width: 45px;
  height: 45px;
  position: relative;
  left: 14px;
  top: 15%;
}
#patientList div p {
  display: inline;
  position: relative;
  left: 20px;
  top: -5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

/*# sourceMappingURL=patient_list.css.map */
